.loginForm{
  background-color: #D5F9C9;
  margin: auto;
  margin-top: 8%;
  display: flex;
  width: 31.25rem;
  height: 38.25rem;
  padding: 2.5rem 2.8125rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex-shrink: 0;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
}
.formFirstText{
  width: 21.875rem;
  height: 2.25rem;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.formLineAfterFirstText{
  width: 25.5rem;
  height: 0.1875rem;
  background: #000;
}
.formLabelText{
  color: #000;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.formInput{
  width: 21.875rem;
  height: 3.125rem;
  flex-shrink: 0;
  background: #D9D9D9;
}
.formForgotPasswordText{
  width: 8.2875rem;
  height: 1.11456rem;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.formLoginButton{
  width: 11.15625rem;
  height: 2.60069rem;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #D9D9D9;
}
.formSignInText{
  width: 15.49125rem;
height: 1.11456rem;
flex-shrink: 0;
color: #000;
font-family: Inter;
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}